<%- include('../partials/navbar') %>
<%- include('../partials/flashMessages') %>

<main class="m-4">
  <div class="m-4">
    <a href="/teacher/add" class="btn btn-primary link-light px-3 py-2 mb-2" style="float: right;">Add Record</a>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Roll No</th>
        <th scope="col">Name</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Score</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% allStudents.forEach(one => { %>
        <tr>
          <th scope="row"><%= one.roll_no %></th>
          <td><%= one.name %></td>
          <td><%= one.dob %></td>
          <td><%= one.score %></td>
          <td>
            <a href="/teacher/edit/<%= one.id %>" class="btn btn-primary">Edit</a>
            <a href="/teacher/delete/<%= one.id %>" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete?')" >Delete</a>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</main>